.gallery{
    display: grid;
    width: 800px;
    grid-template-columns: repeat(5, 1fr) ;
    border: 1px solid red;
    gap: 5px;
    background-color: orange;
    padding: 5px;
}
img{
    width: 100%;  /*gallery pura 600px so width and hei uska 100%m hoga*/
    height: 100%;
}
.image-1{
    grid-row: 1/span 3;  /*pahla row se lekar 2nd row tk ko combine kro*/
    grid-column: 1/span 2; /*pahla column se lekar 2nd row tk ko combine kro*/
}
.image-2{
    grid-row: 1/ span 3 ;
    
}
.image-3{
    grid-column: 4/ span 2 ;
}
.image-4{
    grid-row: 2 / span 2;
    grid-column: 4 / span 2;
}
.image-club{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column: 1 / span 5;
}